<% include include/header.ejs%>
<% include include/sidebar.ejs%>

<div class="content-wrapper">
   
    <section class="content-header">
 
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Edit product</a></li>
      
      </ol>
    </section>
    <section class="content">
        <div class="row">
        
          <div class="col-md-1">
              </div>
          <div class="col-md-10">
                        <form class="add-player-form" action="" method="post" enctype="multipart/form-data"  >
                         
                <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Edit product</h3>
                        </div>
                        <% if(message) { %>

                          <p class="text-danger text-center"><%= message %></p>
                          <%}%>
                       <% businessitem.forEach((businessitem)=> {  %>
                         <div class="box-body">
                            <div class="form-group col-md-4">
                              <label  >Product Title</label>
                              <input type="text" class="form-control" name="title"  value="<%= businessitem.title%>"  required >
                            </div>
                   
                            <div class="form-group col-md-4">
                                <label  >Select Category</label>
                                <select class="form-control" id="category" name="category" required>
                                    <option value="">Select</option>
                                    <option value="furniture" <%= businessitem.category=='furniture'?'selected':'' %>>furniture</option>
                                    <option value="outdoor" <%= businessitem.category=='furniture'?'selected':'' %>>Outdoor</option>
                                    <option value="lighting" <%= businessitem.category=='lighting'?'selected':'' %>>Lighting</option>
                                    <option value="home-decor" <%= businessitem.category=='home-decor'?'selected':'' %>>Home decor</option>
                                    <option value="kitchen-dining" <%= businessitem.category=='kitchen-dining'?'selected':'' %>>Kitchen & Dining</option>
                                    <option value="bathroom" <%= businessitem.category=='bathroom'?'selected':'' %>>Bathroom</option>
                                    <option value="living" <%= businessitem.category=='living'?'selected':'' %>>Living</option>
                                    <option value="bedroom" <%= businessitem.category=='bedroom'?'selected':'' %>>Bedroom</option>
                                    <option value="plants" <%= businessitem.category=='plants'?'selected':'' %>>Plants</option>
                                    <option value="seeds" <%= businessitem.category=='seeds'?'selected':'' %>>Seeds</option>
                                    <option value="soil-fertilizer" <%= businessitem.category=='soil-fertilizer'?'selected':'' %>>Soil & Fertilizer</option>
                                    <option value="pots-planters" <%= businessitem.category=='pots-planters'?'selected':'' %>>pots & planters</option>
                                </select>
                              </div>
<!--
                                <div class="form-group col-md-4">
                                <label  >Select Sub Category</label>
                                <select class="form-control" id="subcategory" name="subcategory"><option>Select</option></select>
                              </div>
-->
                             

                              <div class="form-group col-md-4">
                                <label>Store Name</label>
                             <select class="form-control" name="storename">
                                 <option value="">Select</option>
                                 <option value="amazon" <%= businessitem.store=='amazon'?'selected':'' %>>Amazon</option>
                                 <option value="flipkart" <%= businessitem.store=='flipkart'?'selected':'' %>>flipkart</option>
                                 <option value="pepperfry" <%= businessitem.store=='pepperfry'?'selected':'' %>>pepperfry</option>
                                  </select>
                              </div>
                            
                             <div class="form-group col-md-4">
                              <label  >Product  Offer</label>
                              <input type="text" class="form-control" name="offer" value="<%= businessitem.offer%>"  >
                            </div> <div class="form-group col-md-4">
                              <label  >Offer price</label>
                              <input type="text" class="form-control" name="offerprice" value="<%= businessitem.offerprice%>"  >
                            </div>
                            <div class="form-group col-md-4">
                              <label for="exampleInputFile">Product Image</label>
                                <%if(businessitem.logo==='undefined'){%> <%} else{ %><img src="/images/post/<%= businessitem.logo%>" width="40px"><%}%>
                                
                              <input type="hidden" name="updateimage" value="<%= businessitem.logo%>" class="form-control" >
                              <input type="file" name="nimage" id="exampleInputFile" class="form-control" >
            
                            
                            </div> <div class="form-group col-md-4">
                              <label for="exampleInputFile">Product Link</label>
                              <input type="text" name="link" id="exampleInputFile" class="form-control" value="<%= businessitem.url%>">
            
                            
                            </div>
                    <div class="form-group col-md-4">
                              <label for="exampleInputFile">Product Price</label>
                              <input type="text" name="price" id="exampleInputFile" class="form-control" value="<%= businessitem.price%>">
            
                            
                            </div>
                            
                              

<!-- Modal -->

                              
                              <div class="form-group col-md-4 " >
                                <label  style="display:block">Show on homepage</label>
                               <label>
                                <input type="radio" name="homepage"  value="1" <%= businessitem.homepage=='1'?'checked':'' %> > Yes </label>
                                <label>
                                  <input type="radio" name="homepage" value="0"<%= businessitem.homepage=='0'?'checked':'' %> > No </label>
                              </div> 
                              <div class="clearfix"></div>
                       
                              <div class="clearfix"></div>
                             <div class="form-group col-md-4">
                                <label for="exampleInputEmail1">Meta title</label>
                                <input type="text" class="form-control" name="metatitle" value="<%= businessitem.metatitle%>"  >
                              </div>
                          <div class="form-group col-md-4">
                                <label for="exampleInputEmail1">Meta keyword</label>
                                <input type="text" class="form-control" name="metakeyword" value="<%= businessitem.metakeyword%>"  >
                              </div>
                            
                         <div class="form-group col-md-4">
                              <label for="exampleInputFile">Meta Description</label>
                               <textarea  class="form-control" name="metadescription"><%= businessitem.metadescription%></textarea>
                            </div>
                         
                             
                             
                              <div class="col-md-12">
                              <div class="form-group col-md-4" style="padding:0;">
                                  <button class="btn btn-info" type="button" id="mediaupload"  data-toggle="modal" data-target="#myModal"><i class="fa fa-camera" aria-hidden="true"></i>
 Add Media</button>    
            
                            
                            </div>
                            </div>
                           
                            <div class="form-group col-md-12">
                                <label  >Full Description</label>
                               
                                <textarea  class="form-control" name="long" id="editor1"><%= businessitem.long%></textarea>
                              </div>
                          </div>
                     
                    
                    
                          <!-- /.box-body -->
            
                          <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        
<% })%>
                      </div></form>
            </div>
            </div>
            
            </section>

    </div>
    <script>
            CKEDITOR.replace( 'editor1' );
    </script>


<% include include/footer.ejs%>