<% include include/header.ejs%>
<% include include/sidebar.ejs%>

<div class="content-wrapper">
   
    <section class="content-header">
      <h1>
    View  News
       
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">View News</a></li>
      
      </ol>
    </section>
    <section class="content">
      <div class="row"> 
      <div class="col-xs-12">
          <div class="box">
             
              <!-- /.box-header -->
              <div class="box-boddd">
                  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="boxx">
                              
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                  <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                      
                                     
                                      
                                             
                                              
                                              <table id="example2" class="table table-hover" role="grid" aria-describedby="example2_info">
                                    <thead>
                                    
                                        <th>Sr no</th>
                                        <th>Date</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Action</th>
                                        <th>Status</th>
                                        
                                                        </thead>
                                    <tbody>
                                        <% newslist.forEach((newsitem,index=0) => { %>
                                  <tr role="row" class="odd">
                                      <td class="sorting_1"><% var listno = 1;   %> <%= index+listno %></td>
                                      
                                     
                                      <td>
                                          
                                        
                                           <% let date_ob = new Date(newsitem.news_date);
  
         let date = date_ob.getDate();
         let day = date_ob.getDay();
var month = new Array();
  month[0] = "Jan";
  month[1] = "Feb";
  month[2] = "Mar";
  month[3] = "Apr";
  month[4] = "May";
  month[5] = "Jun";
  month[6] = "Jul";
  month[7] = "Aug";
  month[8] = "Sep";
  month[9] = "Oct";
  month[10] = "Nov";
  month[11] = "Dec";
         
           var n = month[date_ob.getMonth()];

let year = date_ob.getFullYear(); 

 %> <%= date + ' ' + n + ', ' + year     %>
                                      <td><%= newsitem.news_category %></td>
                                      <td><% var titilelenth= new String(newsitem.news_title) 
                                          
                                          
                                          %>
                                      
                                      <%if(titilelenth.length > 40){ 
                                               var Stringslice = titilelenth.slice(0,40);
                                                 
                                              var resultilte = Stringslice + '....';
                                              %><%=resultilte %><%}else {%><%= newsitem.news_title%> <%}%>
                                      </td>
                                 
                                      <td>
                                            <a href="/adminxp/news-edit/<%= newsitem.id %>"  rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                            <a href="/adminxp/usernews-delete/<%= newsitem.id %>" class="btn btn-sm btn-danger" onClick="if(!confirm('Do you want to delete?')){return false;}">Delete</a>
                                       
                                        </td>
                                        <td>
                                           <%if(newsitem.status=='1'){ %>
                                            <a href="/adminxp/news-deactive/<%= newsitem.id %>/1" class="btn btn-sm btn-info">Active</a>
                                            <%}else{%>
                                            
                                             <a href="/adminxp/news-deactive/<%= newsitem.id %>/0" class="btn btn-sm btn-danger">Deactive</a>
                                            <%}%>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                                   
                                  </table></div></div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div></div>
                                </div>
                                <!-- /.box-body -->
                              </div>
                          </div>
                   
                  </div>
              </div>
              <!-- /.box-body -->
        
          
      <!-- /.col -->
  </div>
</div>
          
            </section>

    </div>


<% include include/footer.ejs%>