<!DOCTYPE html>
<html>
   <head>
      <title><%= Dcategory%></title>
       
      <% include include/head.ejs %>
   </head>
   <body>
      <% include include/header.ejs %>  
          <% include include/menu.ejs %>
    
      <section class="List-section">
          
         <div class="containerList"> 
             <div class="HeadingTexts1">    
<!--
           <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= Dcategory%></li>
  </ol>
</nav>
-->
                   </div> 
             
             <div class="clearfix"></div>
            <div class="row">
               <div class="col-md-3 filtersrow">
                   
                  <div class="list-sidebar">
<!--
                     <div class="rowside1">
                        <h4 class="slide-list1">
                          <i class="fa fa-filter" aria-hidden="true"></i>  Filters
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        <% CatfillterPa.forEach((filterItem)=> { %>
                        <div class="inlb-bk">
                           <% var getCAP = filterItem.category_name;
                              var getVAl = getCAP.toLowerCase(); 
                               var Getlink = getVAl.replace(/ /g,"-");
                               var GetAnd = Getlink.replace(/&/g,"and");
                              %>
                           <a href="/directory/<%=GetAnd%>" <%- getVAl==Dcategory?'class="activefilter"':'' %>><%=filterItem.category_name%></a>
                        </div>
                        <%})%>
                     </div>
-->
                      <div class="rowside1">
                        <h4 class="slide-list1">
                         Decorators & Designers
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/appliances">Appliances</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/architects">Architects</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/bathroom-designers-and-renovators">Bathroom Designers & Renovators</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/interior-designers-and-decorators">	Interior Designers & Decorators</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/kitchen-designers-and-renovators">Kitchen Designers & Renovators</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/building-designers">	Building Designers</a></div>
                     
                     </div>
                      <div class="rowside1">
                        <h4 class="slide-list1">
                       Home Improvement
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/furniture-and-accessories">Furniture & Accessories</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/tile-stone-and-countertops">Tile, Stone & Countertops</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/doors">Doors</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/kitchen-and-bathroom-fixtures">	Kitchen & Bathroom Fixtures</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/carpenters">Carpenters</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/window-sales-and-installation">	Window Sales & Installation</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/blacksmiths-and-welders">	Blacksmiths & Welders</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/bedding-bath">	Bedding & Bath</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/artists-artisans">	Artists & Artisans</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/carpet-upholstery-cleaners">Carpet & Upholstery Cleaners</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/home-automation-and-home-media">	Home Automation & Home Media</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/window-sales-and-installation">	Window Sales & Installation</a></div>
                     
                     </div>
                       <div class="rowside1">
                        <h4 class="slide-list1">
                       Home Services
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/house-cleaning-services">House Cleaning Services</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/painting-wallpaper">Painting & Wallpaper</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/electricians">Electricians</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/plumbers">	Plumbers</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/fencing-gates">Fencing & Gates</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/Cladding-and-Exteriors">	Cladding & Exteriors</a></div>
                     
                     </div>  <div class="rowside1">
                        <h4 class="slide-list1">
                     Garden & Outdoors
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/lawn-and-gardeners-services">Lawn & Gardeners Services</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/landscape-architects-and-designers">Landscape Architects & Designers</a></div>
                      
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/landscape-contractors">	Landscape Contractors</a></div>
                       
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/arborists-and-tree-services">	Arborists & Tree Services</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/decks-patios-and-outdoor-structures">	Decks, Patios & Outdoor Structures</a></div>
                     
                     </div>
                      <div class="rowside1">
                        <h4 class="slide-list1">
                     Other
                           <span class="slide-slide">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>
                        </h4>
                        
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/driveways-and-paving">Driveways & Paving</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/glass-mirrors-and-shower-doors">Glass, Mirrors & Shower Doors</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/flooring-installers">Flooring Installers</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/hardwood-flooring-suppliers">	Hardwood Flooring Suppliers</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/solar-panel-installation">Solar Panel Installation</a></div>
                        <div class="inlb-bk"> <a href="/directory<%=locationR ?'/'+locationR:''%>/lighting">	Lighting</a></div>
                       
                     </div>
                  </div>
               </div>
               <div class="col-md-9 pdright-0 Getdatarow">   
                     <div class="FormDe45">   <h1 class="title_listed ShowA"> <% if(DcategorylistR.length > 0) { %>   <span><%= DcategorylistR.length%> </span>  <%= Dcategory%> Founds <%if(pincode){ %><%='in ' +pincode%><%}if(locationR){ %><%='in ' +locationR%> <%}}%></h1>
              
                   <div class="searchBusinessL2 ShowA">
                 
                                  <form method="post" id="GetListing" action="/professional-search">
            <div class="row">
                     <div class="col-md-5 col-5 col-formSrch">
                          <div class="autocomplete" >
                             <input type="text" class="form-control srchCC" id="locationgets" name="locationSrch"  <%if(locationR){ %>
                                    value="<%=locationR%>"<%}%> list="location-datalist" placeholder="City Or Pincode" autocomplete="off">
                         </div>
                     </div>
                
                     <div class="col-md-5 p-0 col-5 col-formSrch">
                         <select class="form-control srchCC" name="categorySrch"  id="categorygets"  autocomplete="off" required>
                             <option value="">What are you looking for?</option>
                               <% var replaceDcategory = Dcategory.replace(/-/g," ");
    var replacesting2 = replaceDcategory.replace(/and/g,"&"); %>
        
                              <%CatfillterPa.forEach((categoriesri)=> { 
                                 
                                   function capital_letter(str) 
{
    str = str.split(" ");

    for (var i = 0, x = str.length; i < x; i++) {
        str[i] = str[i][0].toUpperCase() + str[i].substr(1);
    }

    return str.join(" ");
}
  
                                 %>
                            <option value="<%=categoriesri.category_name%>" <%= categoriesri.category_name == capital_letter(replacesting2)?'selected':''%>><%=categoriesri.category_name%></option>
                                <%})%>
                         </select>
                     
                     </div>
                <div class="col-md-2 p-0 col-2">
                    
                    <button class="btn srchBBn2 desktopfind" type="submit">Search</button>
                    <button class="btn srchBBn2 mobilefind " type="submit">Find</button>
                     </div>
                  </div></form>
      
                     </div>
                        </div>
      
                     <div class="gsc_rows sidePd4" id="HideA">
   <div class=" gsc_col-sm-12 gsc_col-xs-12">
      <div class="gsc_row row">
         <div class="col-md-12 gsc_col-sm-12">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div>
         <div class="col-md-12 gsc_col-sm-12">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div>
         <div class="col-md-12 gsc_col-sm-12">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div>
         <div class="col-md-12 gsc_col-sm-12 ">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div><div class="col-md-12 gsc_col-sm-12">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div><div class="col-md-12 gsc_col-sm-12">
            <div class="contentLoader">
               <div class="animated-background florightd"> </div>
               <div class="animated-backgroundlarge ffrigt firstRow" style="height:10px;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:80%;margin-bottom:10px"> </div>
               <div class="animated-backgroundlarge ffrigt secondRow" style="height:10px;width:70%"> </div>
            </div>
         </div>
      </div>
   </div>
</div>
                   <div class="ShowA">  
                                
                  <div class="mrg-mn " >
                      <% if(DcategorylistR.length > 0) { %>
                     <%DcategorylistR.forEach((Litems,index)=>{ %>
                       <%var ViewTile =  Litems.ads_title;
                                    var replacesting = ViewTile.replace(/\s/g,"-")  %>
                     <div class="DBlist" id="datagetid_<%= Litems.id%>"> 
                         <input type="hidden" value="<%= Litems.id%>" id="atagetid_de<%=index+1%>">
                            <a href="/directory/details/<%= Litems.id%>/<%= replacesting%>" class="flexsz col-md-4">
                              <div class="DBimg"> 
                                
                               <img class="lazy desktopimg"  src="/images/post/placeholder.png?width=500&height=305"  data-src="/images/post/<%= Litems.image_path%>?width=500&height=305"> 
                                  <img class="lazy mobileimg"  src="/images/post/placeholder.png?width=500&height=200"  data-src="/images/post/<%= Litems.image_path%>?width=500&height=200"> 
                                  <div class="postedPicO"><i class="fa fa-picture-o" aria-hidden="true"></i>
 3</div>
                                  <div class="postedByO"><span>Posted by</span><%= Litems.ads_contactname%></div>
                                  
                              </div>
                         </a>
                           <div class="dataContent col-md-8" >
                           <div class="AlinkL">
                            
                              
                              <a href="/directory/details/<%= Litems.id%>/<%= replacesting%>" >
                                  <div class="postedlogoO"><img class="lazy"  src="/images/post/placeholder.png?width=30&height=30"  data-src="/images/post/<%= Litems.ads_logo%>?width=40&height=40"></div>
                                 <div class="page_ListH">
                                     
                                     
                                     <%= Litems.ads_title%></div>
                                   <div class="page_ListHCate">
                                   
                                       
                                     
                                     <%= Litems.ads_category%></div>
                              </a>
                            
                               </div>  <div class="page_ListL mapListing"> 
                                       <%= Litems.ads_city%>
                                    </div><a href="/directory/<%= Litems.id%>/<%= replacesting%>">
                                 <div class="startrating">
                                    <div class="ratings" id="ratings<%= Litems.id%>">
                                    </div>
                                    <span  class="rating_count"  id="count<%= Litems.id%>"></span>
                                 </div>
                                
                               
                              </a>
                            
                      
                             
                               
                                 <% var htmlText=Litems.ads_des;
                                    var noHTML = /(<([^>]+)>)/ig; 
                                    var clean = htmlText.replace(noHTML, '');
                               
                               
                               
                                    %>
                              <div class="page_ListD">  <% if(clean.length > 120) { 
                                          
                                         var sliceText = clean.slice(0,120);
                                         %>
                                  <%= sliceText +"...."%> <a href="/directory/<%= Litems.id%>/<%= replacesting%>"><span class="ReadMOreA">Read more</span></a><%} else { %><%=clean%><%}%>
                                 </div>
                               <% 
                              
                              
                                  var strxx  = Litems.ads_subcategory;
                                 var strings = strxx.split(",",5); 
                              
                                 var textprint = "";
var i;
                               
                               if(Litems.ads_subcategory){%>
                               <div class="page_ListSD"><ul><%for(i =0; i < strings.length;i++){
                                    textprint +='<li>'+strings[i]+'</li>';
                                   %>
                               <li><%=strings[i]%></li>
                               <%}%> </ul>
                                 </div>
                               <%}else{%> <div class="page_ListSD"><%=Litems.ads_category%> 
                                 </div><%}%>
                                                    
                       <div class="col-md-12 RSide2">
                             
                                   <div class="DBlistE"> <% var Servicephone=Litems.ads_mobile;     %>
                                       <a href="#" class="viewPhoneM"> <%  var Servicephones = Servicephone.slice(0,3); %> <%= Servicephones +"xxx-xxxx"%>  <span>show</span></a>
                                 <a href="javascript:void(0);"  class="DB-packlist contactnow" data-id="<%= Litems.id%>"> Contact Now</a>   
                                  </div>
                               </div>
                            </div>
                           
                                    </div>
                     <%})%>
                       
                      <%} else { %>
                      <div class="Noresults"><div class="sorryMsg">Sorry, we don't have any results for <%= Dcategory%>
                                  <%=locationR ?'in '+locationR:''%> </div>
                           <p>To find what you're looking for, please try adjusting your search keywords, removing one of the filters or try searching for another classification.

                           </p>
</div>
                      <%}%>
           

                      
                      <div class="paginationhome">
                      
                      <% if (count > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
    <li><a href="<%if(locationR){ %><%='/directory/'+locationR+'/'+Dcategory%><%}%>?page=<%= (currentPage+1)%><%if(pincode){ %><%='&pincode=' +pincode%><%}%>"><i class="fa fa-angle-left"></i></a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
  	<li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=count; i++) { %>
    <% if (currentPage == i) { %>
    	<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    	<li><a href="<%if(locationR){ %><%='/directory/'+locationR+'/'+Dcategory%><%}%>?page=<%= i %><%if(pincode){ %><%='&pincode=' +pincode%><%}%>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    	<li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != count) { %>
  	<li><a href="<%if(locationR){ %><%='/directory/'+locationR+'/'+Dcategory%><%}%>?page=<%= count %><%if(pincode){ %><%='&pincode=' +pincode%><%}%>">Last <i class="fa fa-angle-right"></i></a></li>
  <% } %>
</ul>
<% } %>
       </div>
                  </div>
               </div></div>
            </div>
         </div>
      </section>
       
<!--
       <div class="loaddivs">
       <div class="loader-form show">
       </div>
       </div>
-->
       <div id="enqueryM" class="modal fade " role="dialog" aria-modal="true">
  <div class="modal-dialog sharebbQ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="Req_autoapi">
          <div class="PostBYdesign pt-0">
                                    <div class="designCompy_img">
                                        <img class="contactlogo" src="/images/placeholder.png">
                                    </div>
                                    <div class="designCompy_content">
                                        <div class="nameCC2 ajaxsidesh "> <span class="titleAajx"></span></div>
                                        <p class="mb-0 locationAajx" ></p>
                                      
                                    </div>
                                </div>
</div><button type="button" class="closeQQ" data-dismiss="modal">×</button>
    
      </div>
      <div class="modal-body">
          <div class="detailsSm6">Fill out the form below to request information from <span class="titleAajx"></span></div>
      <form action="" method="post" id="messageForm" >
       
                       <div class="form-group rele">
                          <input type="hidden" name="user_id" value="" class="userId">
                          <input type="hidden" name="post_id" value="" >
                           <input type="text" class="form-control ppe-l0Q" name="user_name" placeholder="Full Name">
                              <span class="errormsgd" id="user_name"></span>
                        </div>
                       
                        <div class="form-group rele">
                       
                           <input type="text" class="form-control ppe-l0Q" name="user_email" placeholder="Email Address(optional)">
                            <span class="errormsgd" id="user_email"></span>
                        </div>
                           <div class="form-group rele">
                         
                           <input type="text" class="form-control ppe-l0Q" name="user_mobile" placeholder="Mobile Number">
                                 <span class="errormsgd" id="user_mobile"></span> 
                        </div>
                        <div class="form-group rele">
                          
                            <textarea class="form-control ppe-l0Q" name="user_message" placeholder="Message"></textarea>     
                       <span class="errormsgd" id="user_message"></span>
                        </div>
                        <div class="mt-4">
                           <div class="row">
                              <div class="col-12">
                                 <button type="submit" class="btn btnlogin">Submit</button>
                              </div>
                           </div>
                        </div>
          <div class="col-md-12">
           <div id="fmailmsg"></div>
           <div id="sucessmsg"></div>
          </div>
                     </form>
         </div>
  </div>

  </div>
</div>
          <% include include/footer.ejs %>
                    <script src="/js/search.js"></script>

   </body>
</html>