
<!DOCTYPE html>
<html class="indexpage">
<head>
	
<!-- Primary Meta Tags -->
<title>Ex7news - Make Your Best Home ,Home Design, Decorating and Remodeling Ideas and Inspiration, Kitchen and Bathroom Design</title>
<meta name="title" content="Ex7news - Make Your Best Home ,Home Design, Decorating and Remodeling Ideas and Inspiration, Kitchen and Bathroom Design">
<meta name="description" content="Ex7news is the new way to research house and Interior design ideas. Hire Top rated professionals near you">
<meta itemprop="name" content="Ex7news - Make Your Best Home" />
<meta property="article:section" content="Ex7news" />
<!-- Open Graph / Facebook -->
<!--
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Find trusted service providers, compare prices or quotes and hire the best">
<meta property="og:description" content="Browse beautiful home design ideas, useful how-to articles and easy-to-follow recipes to help you make your best home. Our expert advice makes creating the home you've always wanted easy and fun.">

 Twitter 
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="#">
<meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate">
<meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
-->
<meta property="twitter:image" content="">
   <% include include/head.ejs %>
	 
</head>    
<body>
    
      <% include include/header.ejs %>
      <% include include/menu.ejs %>
  <section class="nd_bolysec">
  <div class="container">
      <div class="ads_site"><img src="https://tpc.googlesyndication.com/simgad/8950197743285419621"></div>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="nd_technonews">
          <div class="row">
            <div class="col-sm-7 col-12">
    
                 <%bignewsR.forEach((bignews)=>{  %>
              <div class="nd_texcnor"><% var stringtitle = bignews.news_title; var replacesting = stringtitle.replace(/\s/g,"-") %>
                <div class="bd_snewst-new"><a href="/post/<%= bignews.news_category%>/<%= bignews.id%>/<%= replacesting %>">
           
                    <div class="col-fimg">
                      <div class="bd-nesingtf"><img class="lazy" src="/images/post/placeholder.png?width=800&height=500" data-src="/images/post/<%= bignews.news_image%>?width=800&height=500" ></div>
                    </div>
                    <div class="col-fcontent">
                         <p class="fcategory mt-2"><%= bignews.news_category%></p>
                      <h1 class="nd_iheading"><% var newTitle = new String(bignews.news_title) 
                            if(newTitle.length > 120 ) {  var Slicetext = newTitle.slice(0,120);
                          %> <%=Slicetext+'...'%>  <%} else {%> <%= bignews.news_title%> <%}%></h1>
                          <div class="Newdesp"><%
                              var noHTML = /(<([^>]+)>)/ig; 
                               var newDesp = new String(bignews.news_des);
                                                                          var clean = newDesp.replace(noHTML, '');

                            if(clean.length > 100 ) {  var SliceDes = clean.slice(0,100);
                          %> <%=SliceDes+'...'%>  <%} else {%> <%- bignews.news_des%> <%}%></div></div>
                
                      </a><p class="comt-timnegm"><span class="cmt-iconn"><i class="fa fa-clock-o" aria-hidden="true"></i></span><span class="no_cmnt"> 4Hrs
                        </span></p>
                      <% if(bignews.user) {  var strinuser = bignews.user; var replaceuser = strinuser.replace(/\s/g,"-") %>
                    <%}%>
                     <div class="authorcp">
                    <a href="#" class="author-width"></a> <div class="a-cpname"> <% if(bignews.user==null) { %>by ex7news team <%} else{ %><a href="/authors/<%= bignews.postBy%>/<%= replaceuser %>">By <%= bignews.user %></a> <%}%>   </div>
                    </div>
                </div>
              </div>
                     <% })%>
            </div>
            <div class="col-sm-5 col-12 pd_g">
                 <%topnews.forEach((topnews)=>{  %>
           <div class="middlesnews">
           
     <% var stringtitle = topnews.news_title; var replacesting = stringtitle.replace(/\s/g,"-") %>
                <div class="bd_snewst-new">
                    
                    <a href="/post/<%= topnews.news_category%>/<%= topnews.id%>/<%= replacesting %>">
                  
                      <div class="bd-cpbox"><img class="lazy" src="/images/placeholder.png" data-src="/images/post/<%= topnews.news_image%>?width=500&height=260"  >
                        
                         <div class="fcategory2" data-cat=""><%= topnews.news_category%></div>
                        </div>
                  
                   
                      <div class="bd-cpboxC"><% var newTitle = new String(topnews.news_title) 
                            if(newTitle.length > 70 ) {  var Slicetext = newTitle.slice(0,70);
                          %> <%=Slicetext+'...'%>  <%} else {%> <%= topnews.news_title%> <%}%></div>
                          
               
                      </a>
                   
                   
                </div>
              </div>     
                  
        <% })%>
        
                </div>
          </div>
        </div>
       
        
        
        
        
        
         
        
      </div>
    <div class="col-md-4 col-sm-4">
        
              <div class="bg-fbk-new">
         
         
                

<div class="tab-content">  
<div class="tab-paa" id="tab1">
       
                
                 <%smallnewsi.forEach((smallnews)=>{  %>
    <% var stringtitle = smallnews.news_title; var replacesting = stringtitle.replace(/\s/g,"-") %>
                <div class="nd_texcnorsnew2"><a href="/post/<%= smallnews.news_category%>/<%= smallnews.id%>/<%= replacesting %>">
                  <div class="bd_snewst-new2">
                    <div class="row">
                     
                      <div class="col-sm-9 col-8">
                       <p class="fcategory"><%= smallnews.news_category%></p>
                        <p class="ftitles"><% var newTitle = new String(smallnews.news_title) 
                            if(newTitle.length > 120 ) {  var Slicetext = newTitle.slice(0,120);
                          %> <%=Slicetext+'...'%>  <%} else {%> <%= smallnews.news_title%> <%}%></p>
                        
                     
                      </div> <div class="col-sm-3 col-5  pr-0">
                        <div class="bd-nesing"><img class="lazy" src="/images/post/placeholder.png?width=300&height=200" data-src="/images/post/<%= smallnews.news_image%>?width=300&height=200" ></div>
                      </div>
                    </div>
                  </div>
                  </a></div>
                  <% })%>
                  </div>
                  
                  </div>
              </div>
  
            
      
       
        
           
        
       
         
        
        
       
        
        
        
        
      </div>
      
      </div>
       
      </div>
</section>
    
    
  
 

    
    
    <section class="topsectionD">
       <div class="container hMax">
       
           <h2 class="head_linen1 heading2 col-xs-12">National News
 </h2>
          <div class="row">
          
              <%topnews2.forEach((topnews)=>{  %>
           <div class="col-lg-3 col-md-3 col-6 pp-10 colap5">
           
     <% var stringtitle = topnews.news_title; var replacesting = stringtitle.replace(/\s/g,"-") %>
                <div class="newsLbox">
                    
                    <a href="/post/<%= topnews.news_category%>/<%= topnews.id%>/<%= replacesting %>">
                  
                      <div class="bd-cpbox"><img class="lazy" src="/images/placeholder.png" data-src="/images/post/<%= topnews.news_image%>?width=500&height=300"  >
                        
                         <div class="Categorytagnews"><%= topnews.news_category%></div>
                        </div>
                  
                   
                      <div class="newsLbox-cpboxC"><% var newTitle = new String(topnews.news_title) 
                            if(newTitle.length > 70 ) {  var Slicetext = newTitle.slice(0,70);
                          %> <%=Slicetext+'...'%>  <%} else {%> <%= topnews.news_title%> <%}%></div>
                          
               
                      </a>
                
                    
                   
                </div>
              </div>     
                  
        <% })%>
        
            </div>
          
        </div>
       
    
    </section>
  

             
             <section class="topsectionD">
   <div class="container hMax">
      <h2 class="head_linen1 heading2 col-xs-12">TOP PICKS</h2>
      <div class="row">
         <div class="col-md-3 col-6 colps5">
            <div class="swiper-wrapper">
               <a href="#">
                  <figure><img class="lazy" src="/images/placeholder.png" data-src="https://c.ndtvimg.com/2020-05/br3dgmqo_sriram-nene-madhuri-dixit-_295x200_16_May_20.jpg?downsize=315:350" width="100%"></figure>
                  <div class="designsTT">Important for nations to work</div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-6 colps5">
            <div class="swiper-wrapper">
               <a href="#">
                  <figure><img class="lazy" src="/images/placeholder.png" data-src="https://c.ndtvimg.com/2020-05/vf9hjk0g_tarasutaria270_270x300_16_May_20.jpg?downsize=315:350" width="100%"></figure>
                  <div class="designsTT"> Amit Shah Chairs Key Meetings to Deliberate Over Guidelines</div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-6 colps5">
            <div class="swiper-wrapper">
               <a href="#">
                  <figure><img class="lazy" src="/images/placeholder.png" data-src="https://c.ndtvimg.com/2020-05/9n63brvg_re270_270x300_16_May_20.jpg?downsize=315:350" width="100%"></figure>
                  <div class="designsTT">Rijiju Assures Training </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-6 colps5">
            <div class="swiper-wrapper">
               <a href="#">
                  <figure><img class="lazy" src="/images/placeholder.png" data-src="https://c.ndtvimg.com/2020-05/7f9e1ef_270_240x180_15_May_20.jpg?downsize=315:350" width="100%"></figure>
                  <div class="designsTT">Important for nations to work</div>
               </a>
            </div>
         </div>
            <div class="col-md-3 col-6 colps5">
            <div class="swiper-wrapper">
               <a href="#">
                  <figure><img class="lazy" src="/images/placeholder.png" data-src="https://c.ndtvimg.com/2020-05/83s2oe9_samantha-instagram_295x200_15_May_20.jpg?downsize=315:350" width="100%"></figure>
                  <div class="designsTT">Restart For 'Homesick' Indian Teams</div>
               </a>
            </div>
         </div>
      </div>
      <div class="ViewAllDesign"><a href="/">Show more <i class="fa fa-angle-right"></i></a></div>
   </div>
</section>
  
    
<!--
    <section class="topsectionD">
       <div class="container hMax">
       
           <h2 class="head_linen1 heading2 col-xs-12">Politics
 </h2>
          <div class="row">
          
              <%trevelfood.forEach((trevelfood)=>{  %>
           <div class="col-lg-3 col-md-4 col-6 pp-10">
           
     <% var stringtitle = trevelfood.news_title; var replacesting = stringtitle.replace(/\s/g,"-") %>
                <div class="bd_snewst-new">
                    
                    <a href="/post/<%= trevelfood.news_category%>/<%= trevelfood.id%>/<%= replacesting %>">
                  
                      
                  <div class="bd-cpbox"><img class="lazy" src="/images/placeholder.png" data-src="/images/post/<%= trevelfood.news_image%>?width=500&height=320"  >
                        
                         <div class="Categorytag" data-cat="<%= trevelfood.news_category%>"></div>
                        </div>
                  
                    
                      <div class="bd-cpboxC"><% var newTitle = new String(trevelfood.news_title) 
                            if(newTitle.length > 70 ) {  var Slicetext = newTitle.slice(0,70);
                          %> <%=Slicetext+'...'%>  <%} else {%> <%= trevelfood.news_title%> <%}%></div>
                          
               
                      </a>
                    <% if(trevelfood.user) {  var strinuser = trevelfood.user; var replaceuser = strinuser.replace(/\s/g,"-") %>
                    <%}%>
                     <div class="authorcp">
                   <div class="a-cpname"> <% if(trevelfood.user==null) { %>By Ex7news team <%} else{ %><a href="/authors/<%= trevelfood.postBy%>/<%= replaceuser %>">by <%= trevelfood.user %></a> <%}%>   </div>
                    </div>
                
                </div>
              </div>     
                  
        <% })%>
        
            </div>
          
        </div>
       
    
    </section>
  
    
-->
    <section class="topsectionD">
   <div class="container hMax">
      <h2 class="head_linen1 heading2 col-xs-12">Politics</h2>
      <div class="row">
         <div class="col-lg-3 col-md-4 col-6 pp-10">
            <div class="bd_snewst-new">
               <a href="#">
                  <div class="bd-cpbox">
                     <img class="lazy" src="https://img.pravda.com/images/doc/a/6/a67597c-katarina-maternova-400.jpg">
                     
                  </div>
                  <div class="bd-cpboxCL">The Best Mattresses to Buy Online in 2020, According to Bedding Expert...</div>
               </a>
               
            </div>
         </div>
           <div class="col-lg-3 col-md-4 col-6 pp-10">
            <div class="bd_snewst-new">
               <a href="#">
                  <div class="bd-cpbox">
                     <img class="lazy" src="https://img.pravda.com/images/doc/f/d/fd86973-6biznes-400.jpg">
                     
                  </div>
                  <div class="bd-cpboxCL">Get an idea about how much a project should cost before you start

</div>
               </a>
               
            </div>
         </div>
           <div class="col-lg-3 col-md-4 col-6 pp-10">
            <div class="bd_snewst-new">
               <a href="#">
                  <div class="bd-cpbox">
                     <img class="lazy" src="https://img.pravda.com/images/doc/d/c/dc29c5c-aeroport-400.jpg">
                     
                  </div>
                  <div class="bd-cpboxCL">The Best Mattresses to Buy Online in 2020, According to Bedding Expert...</div>
               </a>
               
            </div>
         </div>
           <div class="col-lg-3 col-md-4 col-6 pp-10">
            <div class="bd_snewst-new">
               <a href="#">
                  <div class="bd-cpbox">
                     <img class="lazy" src="https://img.pravda.com/images/doc/c/f/cf68034-merkel-putin-400.jpg">
                     
                  </div>
                  <div class="bd-cpboxCL">The Best Mattresses to Buy Online in 2020, According to Bedding Expert...</div>
               </a>
               
            </div>
         </div>
      </div>
   </div>
</section>
    <div class="clearfix"></div>
   

             
             
             
             
                <% include include/footer.ejs %>
    
    
             <script src="/js/search.js"></script>
             
             
     <script>
     
     
           $('#myCarouselgal23').owlCarousel({
    loop:true,
    margin:20,stagePadding: 0,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:true
        },
        1000:{
            items:4,
            nav:true,
            loop:true
        }
    }
});    
           $('#myCarousel23').owlCarousel({
    loop:true,
    margin:10,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:6,
            nav:true,
            loop:false
        }
    }
});
         $('#myCarousel2').owlCarousel({
    loop:true,    stagePadding: 30,

    margin:5,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:2,
            nav:true
        },
        600:{
            items:2,
            nav:false
        },
        1000:{
            items:6,
            nav:true,
            loop:false
        }
    }
});$('#myCarouselshop2').owlCarousel({
    loop:true,    stagePadding: 30,

    margin:5,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:2,
            nav:true
        },
        600:{
            items:2,
            nav:false
        },
        1000:{
            items:7,
            nav:true,
            loop:false
        }
    }
});
       $('#myCarouselgal').owlCarousel({
    loop:true,
    margin:10,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:4,
            nav:true,
            loop:false
        }
    }
});    
         $('#myCarouselprice').owlCarousel({
    loop:true,
    margin:10,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:6,
            nav:true,
            loop:false
        }
    }
})  
        $('.owl-carousel2').owlCarousel({
    loop:true,
    margin:10,
              navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
            dots:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:8,
            nav:true,
            loop:false
        }
    }
})
    </script>
    
				</body>
								</html>
